
// UNSELECT
.unselect {
  -webkit-user-select: none; /* Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+/Edge */
  user-select: none; /* Standard */
}

// MARGIN
.margin {

  @for $distance from 0 through 200 {
    &-#{$distance} {
      margin: $distance + px;
    }
  }

  &-top {
    @for $distance from 0 through 200 {
      &-#{$distance} {
        margin-top: $distance + px;
      }
    }
  }

  &-bottom {
    @for $distance from 0 through 200 {
      &-#{$distance} {
        margin-bottom: $distance + px;
      }
    }
  }

  &-left {
    @for $distance from 0 through 200 {
      &-#{$distance} {
        margin-left: $distance + px;
      }
    }
  }

  &-right {
    @for $distance from 0 through 200 {
      &-#{$distance} {
        margin-right: $distance + px;
      }
    }
  }

}
