
// COLORS
$color_primary: #1e2c5b;

$color_secondary: #d3e2f6;
$color_secondary_extra: #bccee7;

$color_gray: gray;
$color_gray_dark: #484848;
$color_gray_light: lightgray;

// FONTS
$fs_title: 26px;
$fs_sub-title: 20px;
$fs_content: 16px;
$fs_text: 14px;
$fs_nano: 10px;

// BORDER
$border-radius: 10px;

// TRANSITION
$transition_fast: .15s;

// OPACITY
$opacity_low: .8;

// HEADER & FOOTER
$size_head-foot: 50px;
